:root {
    --primary-background-colour: #F4F4F4;
    --secondary-background-colour: #E9EEF5;
    --primary-colour: #4A7FAD;
    --primary-colour-light: #4a7fadaf;
    --secondary-colour: #ADAB7F;
    --tertiary-colour: #F5EE51;
    --box-shadox: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --secondary: #F3A847;
    --dark: #272f32;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 16px;
    min-height: 100%;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--primary-background-colour);
}

.header {
    background: var(--primary-colour-light);
    box-shadow: var(--box-shadox);
    /* display: flex; */
    height: auto;
    font-family: 'Raleway', sans-serif;
}

.title{
    color: var(--primary-background-colour);
    font-size: 3rem;
    padding-left: 2vh;
    padding-right: 3vh;
}

.title a{
    color: var(--primary-background-colour);
    text-decoration: none;
}

/* .header {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
} */

/* .header a:hover{
    text-decoration: none;
    cursor: pointer;
}

.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -10px;
}

.header nav ul{
    list-style: none;
}

.header nav .menu{
    list-style: none;
}

.header nav .menu li{
    color: var(--primary-background-colour);
    font-size: 1.5rem;
}

.header nav .menu li:hover{
    cursor: pointer;
}

.header nav a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-background-colour);
} */

.header nav a:hover{
    text-decoration: underline;
}

button {
  font-size: 16px!important;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
  margin-top: 20px!important;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.home {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

/* .card {
  width: 25%;
  text-align: center;
} */

.error-text {
  color: var(--error);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
    body{
        margin: 0;
    }
    .home{
        width: 100%;
    }

    .home article h2{
        padding-left: 2rem;
    }

    .card {
        width: 90%;
    }

    .itemContainer {
        width: 80%;
    }
}