:root {
    --primary-background-colour: #F4F4F4;
    --secondary-background-colour: #E9EEF5;
    --primary-colour: #4A7FAD;
    --primary-colour-light: #4a7fadaf;
    --secondary-colour: #ADAB7F;
    --tertiary-colour: #F5EE51;

    --box-shadox: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 60%;
  max-height: 60%;
  background-color: var(--secondary-background-colour);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
  z-index: 100;
}

.cart h2 {
  font-size: 2rem;
  color: var(--primary-colour);
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart-closed {
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  /* background-color: var(--secondary); */
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  margin-right: 1rem;
  margin-top: 1rem;
}

.cart-closed span {
  font-size: 40px;
  color: #000;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.cart .total, .cart .message{
    font-size: 2rem;
    color: var(--primary-colour);
}

.cart .message{
    font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}