:root{
    --primary-background-colour: #F4F4F4;
}

.CartItem{
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5vh;
    max-height: calc(fit-content /2);
    background-color: var(--primary-background-colour);
}

.CartItem .ImageContainer {
    width: 160px;
    height: 160px;
    display: flex;
    text-align: center;
}

.CartItem .ImageContainer img {
    margin: auto;
    width: 90%;
    height: 150px;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.CartItem .InfoContainer {
    margin-left: 20px;
}

.CartItem .InfoContainer h3{
    width: fit-content;
}

.CartItem .InfoContainer p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.CartItem .InfoContainer aside{
    display: flex;
}

.CartItem .InfoContainer aside p{
    padding-right: 1rem;
}

.CartItem .InfoContainer aside input{
    margin: .5rem;
    display: flex;
    text-align: center;
}

.CartItem .InfoContainer .trash{
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.CartItem .InfoContainer .trash:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .CartItem .InfoContainer h3{
        font-size: 1.3rem;
    }
    .CartItem .InfoContainer p{
        font-size: 1.3rem;
    }
}