:root{
    --primary-background-colour: #F4F4F4;
}

.CartItem{
    padding: 0.5rem 1rem;
    margin-bottom: 1.5vh;
    max-height: calc(fit-content /2);
    background-color: var(--primary-background-colour);
}

.CartItem .ImageContainer {
    width: 50%;
    text-align: center;
}

.CartItem .ImageContainer img {
    margin: 0;
    width: 90%;

}

.CartItem .InfoContainer p{
    font-size: 1.5rem;
    line-height: 2rem;
}

.CartItem .InfoContainer aside{
    display: flex;
}

.CartItem .InfoContainer aside p{
    padding-right: 1rem;
}

.CartItem .InfoContainer aside input{
    margin: .5rem;
}

.CartItem .InfoContainer .trash{
    font-size: 1.5rem;
    /* Try to move the trash can to the lower right corner. */
}

.CartItem .InfoContainer .trash:hover{
    cursor: pointer;
}