:root{
    --size: 200px;
}

.container{
    display : flex;
    padding : 30px;
    flex-wrap : wrap;
    margin-top: 2rem;
}

.container .card{
    width : 300px;
    height : 215px;
    display : flex;
    margin : 30px 10px;
    position: relative;
    padding : 20px 15px;
    flex-direction : column;
    background-color : #FFFFFF;
    transition : 0.3s ease-in-out;
}

.container .card:hover{
    height : 320px;
}

.container .card .image{
    top : -40%;
    z-index : 1;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-self: center;
    text-align: center;
    position : relative;
    object-fit: contain;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .image img{
    width : var(--size);
    height: var(--size);
    display: flex;
}

.container .card .content{
    opacity : 0;
    top : -14rem;
    color : #111;
    font-size: 2rem;
    position : relative;
    padding : 10px 15px;
    text-align : center;
    visibility : hidden;
    transition : 0.3s ease-in-out;
}

.container .card:hover .content{
    opacity : 1;
    margin-top : 7rem;
    visibility : visible;
    transition-delay: 0.2s;
}